.container {
  min-height: calc(100vh - 64px);
  position: relative;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.no-clients {
  font-size: 20px;
  color: white;
}

#add-client {
  position: fixed;
  right: 32px;
  bottom: 32px;
}
