<div class="container">
  <mat-card id="client-data" *ngIf="client">
    <mat-card-content>
      <h2>Dados Pessoais</h2>
      <form action="#" [formGroup]="clientForm" id="client-form" (ngSubmit)="saveClient()">
        <mat-form-field appearance="outline" id="first-name">
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline" id="last-name">
          <mat-label>Sobrenome</mat-label>
          <input type="text" matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field appearance="outline" id="cpf">
          <mat-label>CPF</mat-label>
          <input type="text" matInput formControlName="cpf">
        </mat-form-field>
        <mat-form-field appearance="outline" id="rg">
          <mat-label>RG</mat-label>
          <input type="text" matInput formControlName="rg">
        </mat-form-field>
        <mat-form-field appearance="outline" id="birth-date">
          <mat-label>Data de nascimento</mat-label>
          <input type="text" matInput [matDatepicker]="picker" formControlName="birthDate">
          <mat-hint>mm/dd/aaaa</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" id="telephone">
          <mat-label>Telefone</mat-label>
          <input type="tel" matInput formControlName="telephone" [value]="clientForm.value.telephone">
        </mat-form-field>
        <mat-form-field appearance="outline" id="email">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <button mat-flat-button color="primary" class="btn-save" type="submit" [disabled]="clientForm.invalid">
          <mat-icon>save</mat-icon>
        </button>
      </form>
      <mat-divider></mat-divider>
      <h2>Endereço</h2>
      <form action="#" [formGroup]="addressForm" id="address-form" (ngSubmit)="saveAddress()">
        <mat-form-field appearance="outline" id="cep">
          <mat-label>CEP</mat-label>
          <input type="text" matInput formControlName="cep">
        </mat-form-field>
        <mat-form-field appearance="outline" id="name">
          <mat-label>Endereço</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" id="number">
          <mat-label>Número</mat-label>
          <input type="number" matInput formControlName="number">
        </mat-form-field>
        <mat-form-field appearance="outline" id="district">
          <mat-label>Bairro</mat-label>
          <input type="text" matInput formControlName="district">
        </mat-form-field>
        <mat-form-field appearance="outline" id="city">
          <mat-label>Cidade</mat-label>
          <input type="text" matInput formControlName="city">
        </mat-form-field>
        <mat-form-field appearance="outline" id="state">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="state" name="state">
            <mat-option *ngFor="let state of states" [value]="state.initials">{{ state.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" id="complement">
          <mat-label>Complemento</mat-label>
          <input type="text" matInput formControlName="complement">
        </mat-form-field>
        <button mat-flat-button color="primary" class="btn-save" type="submit" [disabled]="addressForm.invalid">
          <mat-icon>save</mat-icon>
        </button>
      </form>
      <mat-divider></mat-divider>
      <h2>Parentescos</h2>
      <ng-container [formGroup]="kinshipsForms" *ngIf="client.kinships.length > 0; else kinshipForm">
        <ng-container formArrayName="kinships">
          <div
            action="#"
            *ngFor="let kinship of kinships.controls; let idx = index"
            [formGroupName]="idx"
            class="kinship-form"
          >
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input type="text" matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Parentesco</mat-label>
              <input type="text" matInput formControlName="kinship">
            </mat-form-field>
            <div class="kinship-actions">
              <button mat-mini-fab color="primary" type="submit" [disabled]="kinship.invalid" (click)="saveKinship(kinship.value, $any(client.kinships[idx].id))">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-mini-fab color="warn" type="button" (click)="deleteKinship($any(client.kinships[idx].id))">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #kinshipForm>
        <form action="#" id="add-kinships-form" [formGroup]="kinshipsForms" (ngSubmit)="saveKinships()">
          <ng-container formArrayName="kinships">
            <div *ngFor="let kinship of kinships.controls; let idx = index" [formGroupName]="idx" class="kinship-field">
              <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="name">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Parentesco</mat-label>
                <input type="text" matInput formControlName="kinship">
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="removeKinship(idx)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
          <div class="add-kinships-form-actions">
            <button type="submit" mat-flat-button color="primary" *ngIf="kinships.length > 0" matTooltip="Salvar parentescos" matTooltipPosition="left" [disabled]="kinships.invalid">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab color="accent" type="button" (click)="addKinship()" matTooltip="Adicionar parentesco" matTooltipPosition="right">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </form>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="warn" matTooltip="Deletar cliente" matTooltipPosition="right" (click)="deleteClient()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <button mat-mini-fab color="accent" id="back" routerLink=".." matTooltip="Voltar" matTooltipPosition="left">
    <mat-icon>arrow_backward</mat-icon>
  </button>
</div>
