.container {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.divider-title {
  margin: 0;
}

mat-card {
  width: 425px;
}

#client-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 5px;
  grid-template-areas:
   'fn ln'
   'cpf rg'
   'bd bd'
   'tp em'
   'btn btn'
  ;
}

#first-name {
  grid-area: fn;
}

#last-name {
  grid-area: ln;
}

#cpf {
  grid-area: cpf;
}

#rg {
  grid-area: rg;
}

#birth-date {
  grid-area: bd;
}

#telephone {
  grid-area: tp;
}

#email {
  grid-area: em;
}

#address-fields {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px repeat(3, 1fr);
  grid-template-areas:
   'legend legend'
   'cep name'
   'number district'
   'city state'
  ;
  column-gap: 5px;
}

#legend {
  grid-area: legend;
}

#cep {
  grid-area: cep;
}

#name {
  grid-area: name;
}

#number {
  grid-area: number;
}

#district {
  grid-area: district;
}

#city {
  grid-area: city;
}

#state {
  grid-area: state;
}

#save {
  grid-column: 1/3;
}

#kinship-fields {
  grid-column: 1/3;
  display: grid;
}

.kinship {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

#add-kinship {
  margin-bottom: 16px;
}
