
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Entrar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form action="#" id="signin-form" [formGroup]="signinForm">
        <mat-form-field appearance="outline">
          <mat-label>E-mail ou username</mat-label>
          <input type="text" matInput formControlName="login">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary" [disabled]="signinForm.invalid">Entrar</button>
      </form>
      <p id="not-registered">
        Não possui conta? <a routerLink="/signup">Cadastrar</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
