<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastre-se</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form action="#" id="signup-form" [formGroup]="userForm" (ngSubmit)="signup()">
        <mat-form-field appearance="outline" id="first-name">
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline" id="last-name">
          <mat-label>Sobrenome</mat-label>
          <input type="text" matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field appearance="outline" id="username">
          <mat-label>Nome de usuário</mat-label>
          <input type="text" matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline" id="email">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline" id="password">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password" #passwordField>
          <mat-icon matSuffix class="pointer" (click)="togglePasswordFieldType(passwordField)">visibility</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" id="confirm-password">
          <mat-label>Confirme a senha</mat-label>
          <input type="password" matInput formControlName="confirmPassword" #confirmPasswordField>
          <mat-icon matSuffix class="pointer" (click)="togglePasswordFieldType(confirmPasswordField)">visibility</mat-icon>
        </mat-form-field>
        <button type="submit"mat-flat-button color="primary" id="submit" [disabled]="userForm.invalid || !passwordIsEquals">Cadastrar</button>
      </form>
      <p id="already-registered">
        Já está cadastrado? <a routerLink="/signin">Entrar</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
